<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Caza Mounstruos</title>
    <script src="vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <div id="app">
        <div>
            <audio ref="youWin" src="audio/youWin.ogg"></audio>
            <audio ref="youLose" src="audio/youLose.ogg"></audio>
            <audio ref="heal" src="audio/heal.ogg"></audio>
            <audio ref="attack" src="audio/attack.ogg"></audio>
            <audio ref="specialAttack" src="audio/specialAttack.ogg"></audio>
        </div>
        <section class="row">
            <div class="small-6 columns">
                <h1 class="text-center">TU</h1>
                <div class="healthbar">
                    <div class="healthbar text-center" style="background-color:seagreen; margin: 0; color: white;"
                        :style="{width: playerHealth + '%'}">
                        {{playerHealth}}
                    </div>
                </div>
            </div>
            <div class="small-6 columns">
                <h1 class="text-center">MOUNSTRUO</h1>
                <div class="healthbar">
                    <div class="healthbar text-center" style="background-color: seagreen; margin: 0; color: white;"
                        :style="{width: monsterHealth + '%'}">
                        {{monsterHealth}}
                    </div>
                </div>
            </div>
        </section>
        <section class="row controls" v-if="!gameIsRunning">
            <div class="small-12 columns">
                <button id="start-game" @click="startNewGame">COMENZAR JUEGO NUEVO</button>
            </div>
        </section>
        <section class="row controls" v-else>
            <div class="small-12 columns">
                <button id="attack" @click="attack">ATACAR</button>
                <button id="special-attack" @click="specialAttack">ATAQUE ESPECIAL</button>
                <button id="heal" @click="heal">CURARSE</button>
                <button id="give-up" @click="giveUp">RENDIRSE</button>
            </div>
        </section>
        <section class="row log" v-if="turns.length">
            <div class="small-12 columns">
                <ul>
                    <li v-for="turn in turns" :class="{'player-turn': turn.isPlayer, 'monster-turn': !turn.isPlayer}">
                        {{turn.text}}
                    </li>
                </ul>
            </div>
        </section>
    </div>
</body>
<script src="app.js"></script>

</html>